.input-container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 8px;
    background-color: var(--login-background);
    border-radius: 10px;
    border: 1px solid var(--login-background-border);
    margin: auto;
    width: 350px;
    min-width: 350px;
}

.input-container > * {
    color: var(--login-text);
}

.input-container input {
    border: 2px solid var(--login-input-border);
    background-color: var(--login-background);
    color: var(--login-text);
    border-radius: 10px;
    min-height: 40px;
    font-size: 1.2rem;
    padding: 0 8px 0 8px;
}

.input-container-header {
    font-size: 1.4rem;
}

.input-container input.error {
    border: 3px solid var(--login-input-border-error);
}

.input-container input:focus {
    outline: 1px solid var(--login-input-border);
}

.input-container input.error:focus {
    outline: 1px solid var(--login-input-border-error);
}

.input-container label {
    color: var(--login-text);
    justify-content: start;
    font-size: 1rem;
}

.input-container label.error {
    color: var(--login-input-border-error);
}

.input-container label.ok {
    color: var(--login-input-border-ok);
}


.input-container .link{
    color: var(--login-link);
    text-align: center;
}

.input-container button {
    width: 100%;
    height: 48px;
}

.google-icon {
    width: 24px;
    height: 24px;
    background: var(--login-button-text);

    -webkit-mask-image: url("../../icons/google.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("../../icons/google.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.input-error-icon {
    width: 16px;
    height: 16px;
    background: var(--login-input-border-error);

    -webkit-mask-image: url("../../icons/input-error.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("../../icons/input-error.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.input-ok-icon {
    width: 16px;
    height: 16px;
    background: var(--login-input-border-ok);

    -webkit-mask-image: url("../../icons/input-ok.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("../../icons/input-ok.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.input-container-message {
    text-align: center;
}
