.editor-container {
    letter-spacing: 0;
    flex-grow: 1;
    display: flex;
    margin: 8px;
    justify-content: space-between;
    gap: 8px;
}

.red {
    background-color: var(--terminal-red);
}

.green {
    background-color: var(--terminal-green);
}

.neutral {
    background-color: var(--terminal-neutral);
}

.accent {
    background-color: var(--code-tab-primary);
}

@media (max-width: 800px) {
    .editor-container {
        flex-direction: column;
    }
}