@font-face {
    font-family: Hack;
    src: url('../public/fonts/hack.ttf');
}

@font-face {
    font-family: Kimberley;
    src: url('../public/fonts/kimberley.ttf');
}

html {
    height: 100%;

    --terminal-green: #11D181;
    --terminal-red: #F04343;
    --terminal-neutral: #E0E6F9;
    --terminal-accent: #3655B3;
    --terminal-background: #31303C;
    --terminal-text-primary: #E0E6F9;

    --code-comment: #76728D;
    --code-function: #FB902E;
    --code-string: #11D181;
    --code-variable: #F04343;

    --socials-background: #FFFFFF;
}

#root {
    font-family: Kimberley, sans-serif;
    letter-spacing: 1px;
    height: 100%;
}

#root > * {
    height: 100%;
}

code {
    font-family: Hack, sans-serif;
}

pre {
    height: 100%;
    overflow: auto;
    font-family: Hack, sans-serif;
    margin: 0;
}

.hack {
    font-family: Hack, sans-serif;
}

.kimberley {
    font-family: Kimberley, sans-serif;
}

button {
    font-weight: bold;
    font-family: Kimberley, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
}

[theme="dark"] {
    --code-outline: #E0E6F9;
    --code-background: #101A36;
    --code-background-transparent: #101A3600;
    --nav-background: #101A36;
    --code-text-primary: #101A36;
    --code-text-secondary: #3655B3;
    --code-tab-primary: #E0E6F9;
    --code-tab-secondary: #A6BCFF;
    --text-primary: #E0E6F9;
    --background: #0E1730;

    --logo-primary: #E0E6F9;
    --logo-secondary: rgba(0, 0, 0, 0);
    --logo-tertiary: #FFFFFF;
    --logo-quaternary: #3655B3;

    --examples-background: #1A2B59;
    --examples-scrollbar: #3655B3;

    --guidelines-code-background: #31303C;
    --guidelines-text: #E0E6F9;

    --code-keyword: #A6BCFF;
    --code-library: #A6BCFF;
    --code-operator: #A6BCFF;

    --login-background: #101A36;
    --login-background-border: #E0E6F9;
    --login-button: #E0E6F9;
    --login-button-text: #101A36;
    --login-text: #E0E6F9;
    --login-input-border: #E0E6F9;
    --login-link: #A6BCFF;
}

[theme="light"] {
    --code-outline: #3655B3;
    --code-background: #FFFFFF;
    --code-background-transparent: #FFFFFF00;
    --nav-background: #FFFFFF;
    --code-text-primary: #FFFFFF;
    --code-text-secondary: #3655B3;
    --code-tab-primary: #3655B3;
    --code-tab-secondary: #D3DEFF;
    --text-primary: #3655B3;
    --background: #F2F2F2;

    --logo-primary: #3655B3;
    --logo-secondary: #D3DEFF;
    --logo-tertiary: #FFFFFF;
    --logo-quaternary: #A6BCFF;

    --examples-background: #E0E6F9;
    --examples-scrollbar: #A6BCFF;

    --guidelines-code-background: #EBEFF9;
    --guidelines-text: black;

    --code-keyword: #3655B3;
    --code-library: #3655B3;
    --code-operator: #3655B3;

    --login-background: #FFFFFF;
    --login-background-border: #FFFFFF;
    --login-button: #3655B3;
    --login-button-text: #FFFFFF;
    --login-text: #101A36;
    --login-input-border: #3655B3;
    --login-link: #3655B3;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);
    height: 100%;

    min-width: 450px;
}

nav {
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 10px 10px;
    padding: 0 8px 0 8px;
    margin: 0 8px 0 8px;
    background-color: var(--nav-background);
    min-height: 64px;
    color: var(--logo-primary);
}

nav > div {
    display: inline-block;
    cursor: pointer;
}

a{
    text-decoration: none;
}

a:visited{
    color: unset;
}

a:-webkit-any-link{
    color: unset;
}

.horizontal-group {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.center {
    align-items: center;
}

.fill-container {
    width: 100%;
}

.vertical-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dont-stretch {
    align-items: flex-start;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.underline-group {
    padding-bottom: 8px;
    border-bottom: 1px solid;
}

.overline-group {
    padding-top: 8px;
    border-top: 1px solid;
}

.text-button {
    padding: 0 16px 0 16px;
    text-align: center;
}

.primary-text {
    color: var(--text-primary);
}

.theme-icon {
    background: url("icons/theme_switch_light.svg");
}

.github-icon {
    width: 24px;
    height: 36px;
    background: var(--logo-primary);

    -webkit-mask-image: url("icons/github.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("icons/github.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.linked-in-icon {
    width: 24px;
    height: 36px;
    background: var(--logo-primary);

    -webkit-mask-image: url("icons/linked_in.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("icons/linked_in.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.telegram-icon {
    width: 24px;
    height: 36px;
    background: var(--logo-primary);

    -webkit-mask-image: url("icons/telegram.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url("icons/telegram.svg");
    mask-repeat: no-repeat;
    mask-position: center;
}

.fullscreen {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

[class*="icon"] {
    cursor: pointer;
}