.guidelines-container {
    border-radius: 10px;
    background-color: var(--code-background);
    margin: 8px;
    padding: 8px;
    color: var(--guidelines-text)
}

.code-panel-guidelines {
    margin: 8px;
    border-radius: 10px;
    flex-grow: 1;
    font-size: 1rem;
    padding: 8px;
    max-width: 100%;
    overflow: hidden;
    background-color: var(--guidelines-code-background);
}

.code-inline {
    display: inline-flex;
    justify-content: center;
    background-color: var(--guidelines-code-background);
    border-radius: 5px;
    padding: 4px 8px;
}

.code-inline * {
    display: inline-block;
}